﻿@model Vjezba.Web.Models.Mock.Company
@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb" style="margin-top:10px">
    <li class="breadcrumb-item"> <a href="~/Home/Index">Home</a></li>
    <li class="breadcrumb-item"> <a href="~/Company/Index">Pregled kompanija</a></li>
    <li class="breadcrumb-item active">Detalji o kompaniji</li>
</ol>

<h2>Pregled detalja kompanije</h2>
<br />

@if (Model != null)
{
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <td>@Model.ID</td>
        </tr>
        <tr>
            <th>Naziv</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Adresa</th>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>@Model.Email</td>
        </tr>
    </table>
}

@if (Model == null)
{
    <div class="alert-danger" style="border-radius:10px; padding-left:20px">
        <br />
        <p style="margin:0px">Ne postoji odabrana kompanija!</p>
        <br />
    </div>
}