﻿@model List<Vjezba.Web.Models.Mock.Company>


@{
    ViewBag.Title = "Index";
}

<h2>Pregled kompanija</h2>

<div class="alert-info" style="border-radius:10px; margin-bottom:10px">
    <br />
    <p style="margin:0px; padding-left:20px">U sustavu postoji @Model.Count kompanija.</p>
    <br />
</div>

<div class="container">          
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Naziv</th>
        <th>Adresa</th>
        <th>Datum osnivanja</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var companyItem in Model) {
        <tr>
        <td>@companyItem.ID</td>
        <td><a href="~/kompanija/detalji/@companyItem.ID">@companyItem.Name</a></td>
        <td>@companyItem.Address</td>
        <td>@companyItem.DateFrom.ToShortDateString()</td>
      </tr>
      }
    </tbody>
  </table>
</div>